<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tauri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" />
    <title>Cooking Preparations</title>
  </head>
  <body class="boLogin">
    <div class="main">
     <div class="divs" id="headDivMain">
        <div class="hdivs">
            <h1 class="header">Cooking Preparations</h1>
            <h5 class="welmes">This site was created to help people to plan their recipes and help them with the preparation.</h5>
        </div>
        <div class="hdivs" id="proSingOut">
            <nav class="tagsCont">
                <div class="tags"><a href="/users/profile/<%=user.id%>">Profile</a></div>
                <div class="tags"><a href="/auth/logout">Sing Out</a></div>
            </nav>
        </div>
     </div>
     <div class="divs" id="divRecipes">
        <form action="/recipe/<%=user.id%>/new" method="POST">
            <div class="setReceta">
              <div class="recItem">
              <label class="lRecipe" for="name">Name:</label>
              <input class="fRecipe" type="text" id="name" name="name" />
              </div>
              <div class="recItem">
              <label class="lRecipe" for="dificulty">Difficulty:</label>
              <input class="fRecipe" type="text" id="dificulty" name="dificulty" /> 
              </div>
              <div class="recItem">
              <label class="lRecipe" for="prepTime">Preparation Time:</label>
              <input class="fRecipe" type="text" id="prepTime" name="prepTime" />
              </div>
              <div class="recItem">
                <input id="butt" class="fRecipe" type="submit" value="Save"/>
              </div>
            </div>
        </form>
     </div>
      <div class="divs" id="goodbye">
           <p>Thanks for checking our website :)</p>
      </div>
    </div>
  </body>
</html>
