<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tauri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/buttons.css" />
    <title>Cooking Preparations</title>
  </head>
  <body class="boLogin">
    <form action="/step/<%=recipe.id%>/new" method="POST">
      <div class="setReceta">
        <div class=recItem>
          <input class="fRecipe" type="hidden"  id="recipeId" name="recipeId" value="<%=recipe.id%>" />
        </div>
        <div class=recItem>
        <label class="lRecipe" for="description">Description:</label>
        <textarea class="fRecipe" id="description" name="description" rows="3" cols="100">
        </textarea>
        </div>
        <div class=recItem>
          <input id="butt" class="fRecipe" type="hidden" value="Save"/>
          <br/>
          <button class="mySaveUpd" type="submit" name="salva" value="Save">
              Save
          </button> 
        </div>
    </div>
  </form>
  </body>
</html>
