.body {
    font-family: 'Tauri', sans-serif;
} 

.boRecipe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    width: 95% 5%
}

.header {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: white;
    height: 1em;
}

.header2 {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    color: white;
    height: 1em;
}

.headerR {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    color: black;
    height: 1em;
}

.notfound {
    font-family: 'Tauri', sans-serif;
    font-size: 30px;
    color: black;
}

.welmes {
    font-family: 'Tauri', sans-serif;
    font-size: 15px;
    color: white;
    height: 1em;
}

.main {
    display: flex;
    flex-direction: column;
} 

.divs {
    border-style: solid;
    border-width: 1px;
    min-height: 100px;
} 

#headDiv {
    background-image: url("https://cdn.ticbeat.com/src/uploads/2019/03/GettyImages-941858854-810x541.jpg");
    background-position: left bottom;
    min-height: 230px;
    max-height: 220px;
    display: flex;
    flex-direction: column;
}

#headDivMain {
    background-image: url("https://cdn.ticbeat.com/src/uploads/2019/03/GettyImages-941858854-810x541.jpg");
    background-position: left bottom;
    min-height: 230px;
    max-height: 220px;
    display: flex;
    flex-direction: row;
}

/* Este es para el main */
#mainCentral {
    min-height: 600px;
    background-image: url("https://cdn.hipwallpaper.com/i/57/64/y3AZ1P.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start; 
    justify-content: left;    
} 

#centraldiv {
    min-height: 600px;
    background-image: url("https://cdn.hipwallpaper.com/i/57/64/y3AZ1P.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

/* Este se usa para el signup */
#centraldivcenter {
    min-height: 600px;
    background-image: url("https://cdn.hipwallpaper.com/i/57/64/y3AZ1P.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* align-items: initial;  */
    justify-content: center;
}

#divRecipes {
    min-height: 600px;
    background-image: url("https://cdn.hipwallpaper.com/i/57/64/y3AZ1P.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

#showOneRecipe {
    min-height: 600px;
    background-image: url("https://cdn.hipwallpaper.com/i/57/64/y3AZ1P.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

#goodbye {
    height: 50px;
    background-image: url("https://cdn.ticbeat.com/src/uploads/2019/03/GettyImages-941858854-810x541.jpg");
    background-size: 600px auto;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: white;
}

.tagsCont {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.tags {
    font-family: 'Tauri', sans-serif;
    font-size: 25px;
    background-color: lemonchiffon;
    color: teal;
    height: 40px;
    padding: 5px;
    margin: 10px;
    width: 200px;
    border-style: solid;
    border-width: 2px;
}



.notfoundTag {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.normaltag {
    font-family: 'Tauri', sans-serif;
    font-size: 25px;
    color: teal;
    height: 40px;
    width: 250px;
}

.fSet {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 10px;
    background-color: lemonchiffon;
    border-radius: 25px;
    border: 2px solid teal;
}

.cameti {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.etiquetas {
    font-family: 'Tauri', sans-serif;
    font-size: 35px;
    color: teal;
    padding: 5px;
}

.campos {
    font-family: "Lato", sans-serif;
    font-size: 25px;
    padding: 5px;
}

input[type=submit] {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    width: 5em;  
    height: 5em;
}

/* Corresponde a los Links de la parte superior de cuando se muestra la receta */
.recipeLists {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.itemRecetaH {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: teal;
    padding: 5px;
}

.recipeDesc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.recipeInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.listaIngre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.listaReceta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.item {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: darkgreen;
    padding: 5px;
}

.itemReceta {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: teal;
    padding: 5px;
}

.listaRecetaH {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.setReceta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    flex-wrap: wrap;
    padding: 5px;
    float: inline;
}

setReceta2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    flex-wrap: wrap;
    padding: 5px;
}

.recItem {
    padding: 5px;
}
.recItem2 {
    padding: 2px;
}

.lRecipe {
    font-family: "Lato", sans-serif;
    font-size: 13px;
    padding: 2px;
}

.fRecipe {
    font-family: "Lato", sans-serif;
    font-size: 11px;
    padding: 2px;
}


.framesCont {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: wrap;
}

.frames {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: wrap;
}

.formDelete {
    float: inline;
}

