<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tauri&display=swap" rel="stylesheet">
    <title>Cooking Preparations</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body class="boLogin">
    <div class="main">
      <div class="divs" id="headDiv">
        <h1 class="header">Cooking Preparations</h1>
        <h5 class="welmes">This site was created to help people to plan their recipes and help them with the preparation.</h5>
        <h1 class="header2">Login</h1>
      </div>
      <div class="divs" id="centraldiv">
        <div class="fSet">
          <form action="/auth/login" method="POST">
            <label class="etiquetas" for="name">Username:</label>
             <input class="campos" type="text" name="username" /> <br />
             <br />
            <label class="etiquetas" for="name">Password:</label>
             <input class="campos" type="password" name="password" /><br />
             <br />
            <input class="campos" type="submit" value="Login" />
          </form>
        </div>
      </div>
      <div class="divs" id="goodbye">
        <p>Thanks for checking our website :)</p>
      </div>
    </div>
  </body>
</html>
