<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tauri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" />
    <title>Cooking Preparations</title>
  </head>
  <body class="boLogin">
    <div class="main">
     <div class="divs" id="headDiv">
        <h1 class="header">Cooking Preparations</h1>
        <h5 class="welmes">This site was created to help people to plan their recipes and help them with the preparation.</h5>
     </div>
     <div class="divs" id="centraldiv">
        <nav class="notfoundTag">
            <h1 class="notfound">User not found.</h1>
            <br\>
            <br\>
            <a class="normaltag" href="/">Back to Homepage</a>
        </nav>
     </div>
      <div class="divs" id="goodbye">
           <p>Thanks for checking our website :)</p>
      </div>
    </div>
  </body>
</html>
